body {
    background-color: #111;
}

.container {
    margin: 25px;
    color: #fff;
}

.container .navbarTitle h1 i{
    color: #c5b900;
}

.container .navbarTitle h1 {
    font-family: jaro /*Roboto*/;
    font-weight: 400;
    font-size: 30px;
}

.container .navbarTitle i {
    display: none;
}
.container .navbarList #menuX {
    display: none;
}

.container .navbarList ul {
    display: flex;
    float: right;
    margin-top: 0;
    margin-left: 400px;
}

.container .navbarList ul li {
    padding-right: 27px;
    list-style-type: none;
    font-family: 'Jaro';
    cursor: pointer;
    transition: 0.4s;
    font-size: 22px;
}


.container .navbarList ul li:hover {
    color: #c5b900;
}

.container .navbarSearch #Search {
    margin-top: 8px;
    height: 25px;
    width: 165px;
    border-radius: 30px;
    padding-left: 30px;
    color: #979393;
    background-color: #00000094;
    border: 1px solid #bbb;
}

.container .navbarSearch i {
    font-size: 19px;
    color: #909090;
    margin-left: 15px;
    cursor: pointer;
} 


#btn {
    margin-left: 100px;
    font-size: 25px;
    padding: 7px 23px;
    border-radius: 7px;
    background-color: #c5b900;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    font-family: Jaro;
    transition: 0.4s;
    cursor: pointer;
}

#btn:hover {
    background-color: #c5b800b3;
}

#about {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#about:hover {
    color: #c5b900;
}

#project {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#project:hover {
    color: #c5b900;
}

#hr {
    background: #fff;
    width: 100%;
    height: 1px;
}
/* HEADER */

.container .aboutimg img {
    width: 280px;
    float: right;
    margin-right: 120px;
    margin-top: 60px;
}

.container .description h2 {
    margin-left: 34px;
    padding-top: 10px;
    font-size: 50px;
    font-family: jaro;
    font-weight: 300;
}
.container .description h2 span {
    color: #c5b900;
}

.container .description p {
    font-family: Quicksand;
    width: 430px;
    margin-left: 37px;
    margin-top: 0;
}

.container .description p span {
    color: #c5b900;
}

/* IMGAES */

.youssefimages {
    margin-top: 100px;
}

.youssefimages img{
    width: 200px;
    border-radius: 50%;
    transition: 0.5s;
}

.youssefimages .width img {
    width: 277px;
    border-radius: 22px;
    padding-right: 20px;
}

.youssefimages img:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #c5b900;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #2e2e2e;
}
::-webkit-scrollbar-thumb {
    background: #c5b900;
    cursor: pointer;
}

.youssefIamge img {
    width: 365px;
    float: right;
    margin-right: 125px;
    margin-top: -315px;
    margin-bottom: 50px;
    border-radius: 6px;
    transition: 0.4s;
    cursor: pointer;
}

.youssefIamge img:hover {
    box-shadow: 0 0 40px  #c5b900;
}

#accountBtn {
    margin-left: 37px;
    font-size: 25px;
    padding: 8px 18px;
    border-radius: 10px;
    font-family: 'Jaro';
    color: #111;
    background-color: #c5b900;
    border: 1px solid #111;
    cursor: pointer;
    transition: 0.4s;
}

#accountBtn:hover {
    background-color: #c5b800b6;
}

#project {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#project:hover {
    color: #c5b900;
}

section {
    margin-top: 175px;
    margin-left: 50px;
    margin-bottom: 100px;
}


.container .title h2{
    font-family: 'Jaro';
    font-size: 45px;
    color: #c5b900;
}

.container .title p {
    font-family: 'Jaro';
    font-size: 23px;
    color: #fff;
    margin-top: -20px;
}


.container .row .card1 {
    text-align: center;
    /* border: 1px solid #bbb; */
    border-radius: 10px;
    padding: 20px;
    background: #c5b900;
    transition: 0.4s;
    margin-top: 30px;
    cursor: pointer;
}

.container .row .card1 i {
    color: #111;
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.container .row .card1 a {
    font-size: 30px;
    color: #111;
    font-family: jaro;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

.container .row .card1 a:hover {
    color: #444;
}

.container .row .card1 p {
    color: #111;
    font-family: Jaro;
    margin-top: 7px;
}

.container .row .card1 img {
    width: 200px;
    border-radius: 5%;
    border: 2px solid #111;
}

.container .row .card1:hover {
    box-shadow: 0 0 20px #c5b900;
}

@media screen and (max-width: 600px) {
    #hr {
        display: none;
    }
    .container .navbarTitle i {
        display: block;
        font-size: 23px;
        float: right;
        margin-top: -40px;
        margin-right: -80px;
    }
    .container .navbarList #menuX {
        display: none;
        font-size: 30px;
        float: right;
        margin-top: -50px;
        position: relative;
        margin-right: 35px;
    }
    .container .navbarList ul {
        display: none;
        background-color: #111;
        line-height: 64px;
        margin-top: -87px;
        position: absolute;
        height: 101%;
        float: right;
        padding-top: 155px;
        height: 108%;
        margin-left: -255px;
        width: 90%;
        text-align: center;
    }
    .container .navbarList ul li {
        padding-right: 27px;
        list-style-type: none;
        font-family: 'Jaro';
        cursor: pointer;
        transition: 0.4s;
        font-size: 50px;
        line-height: 100px;
    }
    .youssefIamge img {
        display: none;
    }
    .description {
        margin-left: -45px;
    }
    .container .description h2 {
        margin-left: 34px;
        padding-top: 10px;
        font-size: 35px;
        font-family: jaro;
        font-weight: 300;
    }
    .container .description p {
        font-family: Quicksand;
        width: 328px;
        margin-left: 37px;
        margin-top: 0;
    }
    #accountBtn {
        margin-left: -7px;
        font-size: 20px;
        padding: 8px 18px;
        border-radius: 10px;
        font-family: 'Jaro';
        color: #111;
        background-color: #c5b900;
        border: 1px solid #111;
        cursor: pointer;
        transition: 0.4s;
    }
    .container section .title {
        margin-left: -54px;
    }
    .container section .col-lg-3 {
        margin-left: -50px;
    }
}