body {
    background-color: #111;
}

.container {
    margin: 25px;
    color: #fff;
}

.container .navbarTitle h1 i{
    color: #c5b900;
}

.container .navbarTitle h1 {
    font-family: jaro /*Roboto*/;
    font-weight: 400;
    font-size: 30px;
}

.container .navbarTitle i {
    display: none;
}

.container .navbarTitle #menuX {
    display: none;
}


.container .navbarList ul {
    display: flex;
    float: right;
    margin-top: 0;
    margin-left: 400px;
}

.container .navbarList ul li {
    padding-right: 27px;
    list-style-type: none;
    font-family: 'Jaro';
    cursor: pointer;
    transition: 0.4s;
    font-size: 22px;
}


.container .navbarList ul li:hover {
    color: #c5b900;
}

.container .navbarSearch #Search {
    margin-top: 8px;
    height: 25px;
    width: 165px;
    border-radius: 30px;
    padding-left: 30px;
    color: #979393;
    background-color: #00000094;
    border: 1px solid #bbb;
}

.container .navbarSearch i {
    font-size: 19px;
    color: #909090;
    margin-left: 15px;
    cursor: pointer;
} 


#btn {
    margin-left: 100px;
    font-size: 25px;
    padding: 7px 23px;
    border-radius: 7px;
    background-color: #c5b900;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    font-family: Jaro;
    transition: 0.4s;
    cursor: pointer;
}

#btn:hover {
    background-color: #c5b800b3;
}

#about {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#about:hover {
    color: #c5b900;
}

#project {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#project:hover {
    color: #c5b900;
}

#hr {
    background: #fff;
    width: 100%;
    height: 1px;
}

.container .title h2 {
    text-align: left;
    font-family: 'Jaro';
    font-size: 45px;
    font-weight: 400;
    color: #c5b900;
}

.container .title p {
    text-align: left;
    margin-top: -10px;
    font-family: 'Jaro';
    font-size: 19px;
}

.card1 {
    background: #111;
    text-align: center;
    color: #fff;
    font-family: 'Jaro';
    padding: 20px;
    border-radius: 80px;
    border: 8px solid #c5b900;
    transition: 0.4s;
}

.card1:hover {
    background: #222;
    box-shadow: 0 0 20px  #c5b900;
}

.card1 p {
    font-family: Quicksand;
}

.card1 button {
    font-size: 22px;
    padding: 5px 20px;
    border-radius: 13px;
    border: none;
    background: #c5b900;
    cursor: pointer;
    transition: 0.4s;
}

.card1 button:hover {
    background: #c5b800ab;
}

.card1 button a {
    text-decoration: none;
    color: #111;
}

@media screen and (max-width: 600px) {
    #hr {
        display: none;
    }
    .container .navbarTitle i {
        display: block;
        font-size: 23px;
        float: right;
        margin-top: -38px;
        margin-right: -60px;
    }
    .container .navbarList #menuX {
        display: none;
        font-size: 30px;
        float: right;
        margin-top: -50px;
        position: relative;
        margin-right: 35px;
    }
    .container .navbarList ul {
        display: block;
        background-color: #111;
        line-height: 64px;
        margin-top: 50px;
        position: absolute;
        padding-top: 50px;
        margin-left: -640px;
        width: 100%;
        height: 90%;
        text-align: left;
        z-index: 999;
        transition: 0.4s;
    }
    #check:checked ~ .container .navbarList ul {
        top: 0;
    }
    .container .navbarList ul li {
        padding-right: 27px;
        list-style-type: none;
        font-family: 'Jaro';
        cursor: pointer;
        transition: 0.4s;
        font-size: 37px;
        line-height: 60px;
        margin-left: 35px;
    }
    .col-lg-4 {
        margin-left: -25px;
    }    
    .card1 {
        background: #111;
        text-align: center;
        color: #fff;
        font-family: 'Jaro';
        padding: 20px;
        border-radius: 80px;
        border: 8px solid #c5b900;
        transition: 0.4s;
        margin-top: 10px;
    }
}